logs/
data/
saved_images/
evaluation/
map_data/
celeb_dataset/
new_data/
files/
results/
runs/
flickr8k/
disc.pth.tar
gen.pth.tar
critich.pth.tar
criticz.pth.tar
genh.pth.tar
genz.pth.tar